:root {
    /* Primary Colors*/
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    /* Neutral Colors*/
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}
body {
    background-color: var(--light-grey);
    min-height: 100vh;
    max-width: 400px;
    display: flex;
	align-items: center;
	justify-content: center;
    margin: 0 auto;
}
.container {
    background-color: var(--white);
    height: 350px;
    width: 500px;
    border-radius: 15px;
    border-bottom-right-radius: 30%;
}
form {
    border-bottom: 1.5px solid var(--light-grey);
    width: 60%;
    margin: 10px 40px;
    padding: 10px 35px 15px 0px;
}
.input {
    color: var(--smokey-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}
.label {
    font-size: 8px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
}
input[type=text] {
    border-radius: 4px;
    width: 75px;
    border: 1.5px solid var(--light-grey);
    font-weight: bolder;
    padding: 12px 5px;
}
::placeholder {
    font-weight: bolder;
    font-size: 15px;
    padding-left: 10px;
}
.btn-wrapper {
    margin: 0px 0px -43px 320px;
}
.btn-submit {
    background-color: var(--purple);
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.btn-submit > img {
    width: 30px;
}
.btn-submit:hover {
    background-color: var(--off-black);
}
.results {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--off-black);
    margin-left: 40px;
    margin-top: 60px;
}
.years, .months, .days {
    color: var(--purple);
}
.result-text {
    margin-top: -40px;
}
.error{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@media screen and (max-width: 400px) {
    .container {
        max-width: 325px;
        height: 400px;
    }
    form {
        margin: 10px 15px;
        padding: 10px 99px 25px 0px;
    }
    .input {
        gap: 1rem;
    }
    .btn-wrapper{
        margin-bottom: -50px;
        margin-left: 63%;
    }
    .results{
        margin-top: 90px;
    }
}